@font-face {
    font-family: 'NorseBold';
    src: url("./fonts/norse-bold.otf") format("opentype");
}

:root {
    font-family: 'NorseBold', "Lucida Console", Courier;
}

body {
    background-image: url("./img/background.jpg");
    display: flex;
    flex-direction: row;
}


h1 {
    color: blueviolet;
}

h1::before {
    content:'';
    background:url('./img/Odin-lined.png');
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}